/*

-------------------------------------

Project     : Skeletonboard
Filename    : core.scss
Version     : 1.0.0
Author      : Mark Dijkstra
Last change : --/--/----

-------------------------------------

*/

@charset "utf-8";

// BASE
@import "base/_normalize";